Repository lepoco/wpfui, pull requests merged in 2023-10, with the labels that each got.

#773 Fix clipping of menu items when using Navigation LeftFluent
  src/Wpf.Ui/Controls/NavigationView/NavigationLeftFluent.xaml
Labels: cla-signed

#767 Updated the NumberBox.Value Default UpdateSourceTrigger to LostFocus
  src/Wpf.Ui/Controls/NumberBox/NumberBox.cs
Labels: cla-signed

#780 Bump version
  Directory.Build.props
Labels: PR

#788 [UX] Improved brush management + styles
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/MenuPage.xaml
  src/Wpf.Ui/Controls/AutoSuggestBox/AutoSuggestBox.xaml
  src/Wpf.Ui/Controls/Button/Button.xaml
  src/Wpf.Ui/Controls/Calendar/Calendar.xaml
  src/Wpf.Ui/Controls/CheckBox/CheckBox.xaml
  src/Wpf.Ui/Controls/ComboBox/ComboBox.xaml
  src/Wpf.Ui/Controls/ContentDialog/ContentDialog.xaml
  src/Wpf.Ui/Controls/ContextMenu/ContextMenu.xaml
  src/Wpf.Ui/Controls/DynamicScrollBar/DynamicScrollBar.xaml
  src/Wpf.Ui/Controls/FluentWindow/FluentWindow.xaml
  src/Wpf.Ui/Controls/Flyout/Flyout.xaml
  src/Wpf.Ui/Controls/HyperlinkButton/HyperlinkButton.xaml
  src/Wpf.Ui/Controls/InfoBar/InfoBar.xaml
  src/Wpf.Ui/Controls/Label/Label.xaml
  src/Wpf.Ui/Controls/ListBox/ListBoxItem.xaml
  src/Wpf.Ui/Controls/ListView/ListViewItem.xaml
  src/Wpf.Ui/Controls/LoadingScreen/LoadingScreen.xaml
  src/Wpf.Ui/Controls/Menu/Menu.xaml
  src/Wpf.Ui/Controls/Menu/MenuItem.xaml
  src/Wpf.Ui/Controls/MessageBox/MessageBox.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationLeftFluent.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationView.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationViewBottom.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationViewCompact.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationViewItemDefaultStyle.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationViewItemHeader.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationViewItemSeparator.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationViewLeftMinimalCompact.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationViewTop.xaml
  src/Wpf.Ui/Controls/NumberBox/NumberBox.xaml
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.xaml
  src/Wpf.Ui/Controls/TextBox/TextBox.xaml
  src/Wpf.Ui/Controls/ThumbRate/ThumbRate.xaml
  src/Wpf.Ui/Resources/Theme/Dark.xaml
  src/Wpf.Ui/Resources/Theme/HighContrast.xaml
  src/Wpf.Ui/Resources/Theme/Light.xaml
Labels: themes

#762 Implement PassiveScrollViewer; replace ScrollViewer in all XAML controls
  src/Wpf.Ui/Controls/ContentDialog/ContentDialog.xaml
  src/Wpf.Ui/Controls/DataGrid/DataGrid.xaml
  src/Wpf.Ui/Controls/DynamicScrollViewer/DynamicScrollViewer.cs
  src/Wpf.Ui/Controls/ListBox/ListBox.xaml
  src/Wpf.Ui/Controls/ListView/ListView.xaml
  src/Wpf.Ui/Controls/Menu/MenuItem.xaml
  src/Wpf.Ui/Controls/PassiveScrollViewer.cs
  src/Wpf.Ui/Controls/RichTextBox/RichTextBox.xaml
  src/Wpf.Ui/Controls/TextBox/TextBox.xaml
  src/Wpf.Ui/Controls/ToolBar/ToolBar.xaml
  src/Wpf.Ui/Controls/TreeGrid/TreeGrid.xaml
  src/Wpf.Ui/Controls/TreeView/TreeView.xaml
  src/Wpf.Ui/Controls/VirtualizingGridView/VirtualizingGridView.xaml
  src/Wpf.Ui/Controls/VirtualizingItemsControl/VirtualizingItemsControl.xaml
Labels: controls

#602 Update `ToggleSwitch` add `OffContent` and `OnContent`
  src/Wpf.Ui.Gallery/Views/Pages/BasicInput/ToggleSwitchPage.xaml
  src/Wpf.Ui/Controls/ToggleSwitch/ToggleSwitch.cs
  src/Wpf.Ui/Controls/ToggleSwitch/ToggleSwitch.xaml
Labels: gallery
