Repository lepoco/wpfui, pull requests merged in 2023-01, with the labels that each got.

#500 BreadcrumbBar control
  src/Wpf.Ui.Gallery/App.xaml.cs
  src/Wpf.Ui.Gallery/ViewModels/Pages/Navigation/NavigationViewModel.cs
  src/Wpf.Ui.Gallery/ViewModels/Windows/MainWindowViewModel.cs
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/BreadcrumbBarPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/BreadcrumbBarPage.xaml.cs
  src/Wpf.Ui/Common/BreadcrumbBarEvent.cs
  src/Wpf.Ui/Controls/BreadcrumbBar.cs
  src/Wpf.Ui/Controls/BreadcrumbBarItem.cs
  src/Wpf.Ui/Styles/Controls/BreadcrumbBar.xaml
  src/Wpf.Ui/Styles/Wpf.Ui.xaml
Labels: controls, styles

#508 TitleBar refactoring
  src/Wpf.Ui/Controls/TitleBar.cs
  src/Wpf.Ui/Controls/TitleBarButton.cs
  src/Wpf.Ui/Controls/TitleBarButtonType.cs
  src/Wpf.Ui/Extensions/UiElementExtensions.cs
  src/Wpf.Ui/Styles/Controls/TitleBar.xaml
  src/Wpf.Ui/TitleBar/SnapLayout.cs
  src/Wpf.Ui/TitleBar/SnapLayoutButton.cs
Labels: controls, styles, navigation

#507 implement dropdown animation with ease-out.
  src/Wpf.Ui/Styles/Controls/ComboBox.xaml
  src/Wpf.Ui/Styles/Controls/ContextMenu.xaml
  src/Wpf.Ui/Styles/Controls/MenuItem.xaml
Labels: controls, styles

#504 MessageBox refactoring
  src/Wpf.Ui.Gallery/ViewModels/Pages/DialogsAndFlyouts/MessageBoxViewModel.cs
  src/Wpf.Ui.Gallery/Views/Pages/DialogsAndFlyouts/MessageBoxPage.xaml
  src/Wpf.Ui/Controls/MessageBox.cs
  src/Wpf.Ui/Styles/Controls/MessageBox.xaml
Labels: controls

#512 Implement multilevel navigation
  src/Wpf.Ui.Gallery/App.xaml.cs
  src/Wpf.Ui.Gallery/ViewModels/Pages/Navigation/MultilevelNavigationSample.cs
  src/Wpf.Ui.Gallery/ViewModels/Windows/MainWindowViewModel.cs
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/MultilevelNavigationPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/MultilevelNavigationPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Samples/MultilevelNavigationSamplePage1.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Samples/MultilevelNavigationSamplePage1.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Samples/MultilevelNavigationSamplePage2.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Samples/MultilevelNavigationSamplePage2.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Samples/MultilevelNavigationSamplePage3.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Samples/MultilevelNavigationSamplePage3.xaml.cs
  src/Wpf.Ui.Gallery/Views/Windows/MainWindow.xaml
  src/Wpf.Ui/Common/TypedEventHandler.cs
  src/Wpf.Ui/Contracts/INavigationService.cs
  src/Wpf.Ui/Controls/Navigation/INavigationView.cs
  src/Wpf.Ui/Controls/Navigation/INavigationViewItem.cs
  src/Wpf.Ui/Controls/Navigation/NavigationView.AttachedProperties.cs
  src/Wpf.Ui/Controls/Navigation/NavigationView.Base.cs
  src/Wpf.Ui/Controls/Navigation/NavigationView.Events.cs
  src/Wpf.Ui/Controls/Navigation/NavigationView.Navigation.cs
  src/Wpf.Ui/Controls/Navigation/NavigationView.Parent.cs
  src/Wpf.Ui/Controls/Navigation/NavigationView.Properties.cs
  src/Wpf.Ui/Controls/Navigation/NavigationView.TemplateParts.cs
  src/Wpf.Ui/Controls/Navigation/NavigationViewActivator.cs
  src/Wpf.Ui/Controls/Navigation/NavigationViewBreadcrumb.cs
  src/Wpf.Ui/Controls/Navigation/NavigationViewBreadcrumbItem.cs
  src/Wpf.Ui/Controls/Navigation/NavigationViewContentPresenter.cs
  src/Wpf.Ui/Controls/Navigation/NavigationViewEventArgs.cs
  src/Wpf.Ui/Controls/Navigation/NavigationViewItem.cs
  src/Wpf.Ui/Services/NavigationService.cs
  src/Wpf.Ui/Styles/Controls/BreadcrumbBar.xaml
  src/Wpf.Ui/Styles/Controls/NavigationView.xaml
  src/Wpf.Ui/Styles/Controls/NavigationViewBreadcrumb.xaml
  src/Wpf.Ui/Styles/Controls/NavigationViewBreadcrumbItem.xaml
  src/Wpf.Ui/Styles/Wpf.Ui.xaml
Labels: styles, navigation

#502 ContentDialog control
  src/Wpf.Ui.Gallery/App.xaml.cs
  src/Wpf.Ui.Gallery/Controls/TermsOfUseContentDialog.xaml
  src/Wpf.Ui.Gallery/Controls/TermsOfUseContentDialog.xaml.cs
  src/Wpf.Ui.Gallery/ViewModels/Pages/DialogsAndFlyouts/ContentDialogViewModel.cs
  src/Wpf.Ui.Gallery/ViewModels/Windows/MainWindowViewModel.cs
  src/Wpf.Ui.Gallery/Views/Pages/DialogsAndFlyouts/ContentDialog.xaml
  src/Wpf.Ui.Gallery/Views/Pages/DialogsAndFlyouts/ContentDialog.xaml.cs
  src/Wpf.Ui.Gallery/Views/Windows/MainWindow.xaml
  src/Wpf.Ui/Controls/ContentDialog.cs
  src/Wpf.Ui/Converters/EnumToBoolConverter.cs
  src/Wpf.Ui/Styles/Controls/ContentDialog.xaml
  src/Wpf.Ui/Styles/Wpf.Ui.xaml
Labels: controls, styles
