Repository lepoco/wpfui, pull requests merged in 2023-11, with the labels that each got.

#815 Format code & Bump version
  Directory.Build.props
  docs/codesnippet/Rtf/Hyperlink/RtfDocumentProcessor.cs
  docs/codesnippet/Rtf/RtfBuildStep.cs
  docs/codesnippet/Rtf/RtfDocumentProcessor.cs
  src/Wpf.Ui.Extension.Template.Compact/Usings.cs
  src/Wpf.Ui.Extension.Template.Fluent/Usings.cs
  src/Wpf.Ui.FontMapper/Program.cs
  src/Wpf.Ui.Gallery/Controls/GalleryNavigationPresenter.xaml.cs
  src/Wpf.Ui.Gallery/Controls/PageControlDocumentation.xaml.cs
  src/Wpf.Ui.Gallery/ControlsLookup/ControlPages.cs
  src/Wpf.Ui.Gallery/ViewModels/Windows/MainWindowViewModel.cs
  src/Wpf.Ui.Gallery/ViewModels/Windows/MonacoWindowViewModel.cs
  src/Wpf.Ui.Gallery/Views/Pages/Layout/CardControlPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Windows/SandboxWindow.xaml.cs
  src/Wpf.Ui.SyntaxHighlight/Highlighter.cs
  src/Wpf.Ui.Tray/Hicon.cs
  src/Wpf.Ui.Tray/Internal/InternalNotifyIconManager.cs
  src/Wpf.Ui.Tray/TrayHandler.cs
  src/Wpf.Ui/Animations/TransitionAnimationProvider.cs
  src/Wpf.Ui/Appearance/ApplicationAccentColorManager.cs
  src/Wpf.Ui/Appearance/ApplicationThemeManager.cs
  src/Wpf.Ui/Appearance/ResourceDictionaryManager.cs
  src/Wpf.Ui/Appearance/SystemThemeWatcher.cs
  src/Wpf.Ui/Appearance/WindowBackgroundManager.cs
  src/Wpf.Ui/AutomationPeers/CardControlAutomationPeer.cs
  src/Wpf.Ui/Controls/AutoSuggestBox/AutoSuggestBox.cs
  src/Wpf.Ui/Controls/CardControl/CardControl.cs
  src/Wpf.Ui/Controls/ContextMenu/ContextMenu.xaml.cs
  src/Wpf.Ui/Controls/IconElement/FontIcon.cs
  src/Wpf.Ui/Controls/IconElement/IconElement.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Navigation.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Properties.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationViewContentPresenter.cs
  src/Wpf.Ui/Controls/NumberBox/NumberBox.cs
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.cs
  src/Wpf.Ui/Controls/TextBlock/TextBlock.cs
  src/Wpf.Ui/Controls/VirtualizingWrapPanel/VirtualizingPanelBase.cs
  src/Wpf.Ui/Controls/VirtualizingWrapPanel/VirtualizingWrapPanel.cs
  src/Wpf.Ui/Controls/Window/WindowBackdrop.cs
  src/Wpf.Ui/Extensions/SnackbarServiceExtensions.cs
  src/Wpf.Ui/Interop/UnsafeNativeMethods.cs
  src/Wpf.Ui/Markup/Design.cs
Labels: PR

#833 Fixing background removal
  src/Wpf.Ui/Appearance/WindowBackgroundManager.cs
Labels: github_actions

#835 Merge dvelopment
  .github/workflows/wpf-ui-cd-docs.yaml
  .github/workflows/wpf-ui-cd-nuget.yaml
  .github/workflows/wpf-ui-lock.yml
  .github/workflows/wpf-ui-pr-validator.yaml
  Directory.Build.props
  Directory.Packages.props
  src/Wpf.Ui.Demo.Mvvm/Wpf.Ui.Demo.Mvvm.csproj
  src/Wpf.Ui.Demo.Simple/Wpf.Ui.Demo.Simple.csproj
  src/Wpf.Ui.FontMapper/Wpf.Ui.FontMapper.csproj
  src/Wpf.Ui.Gallery/Wpf.Ui.Gallery.csproj
  src/Wpf.Ui/Appearance/ResourceDictionaryManager.cs
  src/Wpf.Ui/Appearance/SystemTheme.cs
  src/Wpf.Ui/Appearance/WindowBackgroundManager.cs
  src/Wpf.Ui/AutomationPeers/CardControlAutomationPeer.cs
  src/Wpf.Ui/Controls/ContentDialog/ContentDialog.cs
  src/Wpf.Ui/Controls/TextBlock/TextBlock.cs
  src/Wpf.Ui/Controls/TextBlock/TextBlock.xaml
  src/Wpf.Ui/Controls/VirtualizingWrapPanel/VirtualizingWrapPanel.xaml
  src/Wpf.Ui/Converters/IconSourceElementConverter.cs
  src/Wpf.Ui/Extensions/NavigationServiceExtensions.cs
  src/Wpf.Ui/Interop/UnsafeNativeMethods.cs
  src/Wpf.Ui/Interop/User32.cs
  src/Wpf.Ui/Markup/SymbolIconExtension.cs
  src/Wpf.Ui/Resources/Theme/HC1.xaml
  src/Wpf.Ui/Resources/Theme/HC2.xaml
  src/Wpf.Ui/Resources/Theme/HCBlack.xaml
  tests/Wpf.Ui.Gallery.UnitTests/Wpf.Ui.Gallery.UnitTests.csproj
Labels: github_actions, PR

#843 Update/pre11
  Directory.Build.props
  src/Wpf.Ui.Demo.Mvvm/Usings.cs
  src/Wpf.Ui.Demo.Simple/MainWindow.xaml
  src/Wpf.Ui.Extension.Template.Compact/Usings.cs
  src/Wpf.Ui.Extension.Template.Fluent/Usings.cs
  src/Wpf.Ui.Gallery/Usings.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationCache.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationCacheMode.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Navigation.cs
  src/Wpf.Ui/Interop/UnsafeNativeMethods.cs
  tests/Wpf.Ui.UnitTests/Usings.cs
Labels: PR

#844 Merge development
  Directory.Build.props
  src/Wpf.Ui.Demo.Mvvm/Usings.cs
  src/Wpf.Ui.Demo.Simple/MainWindow.xaml
  src/Wpf.Ui.Extension.Template.Compact/Usings.cs
  src/Wpf.Ui.Extension.Template.Fluent/Usings.cs
  src/Wpf.Ui.Gallery/Usings.cs
  src/Wpf.Ui.SyntaxHighlight/Controls/CodeBlock.xaml
  src/Wpf.Ui.Tray/Wpf.Ui.Tray.csproj
  src/Wpf.Ui/Controls/Badge/Badge.xaml
  src/Wpf.Ui/Controls/CardColor/CardColor.xaml
  src/Wpf.Ui/Controls/ComboBox/ComboBox.xaml
  src/Wpf.Ui/Controls/Expander/Expander.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationCache.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationCacheMode.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Navigation.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationViewTop.xaml
  src/Wpf.Ui/Controls/TextBox/TextBox.xaml
  src/Wpf.Ui/Controls/TitleBar/TitleBar.xaml
  src/Wpf.Ui/Controls/ToggleButton/ToggleButton.xaml
  src/Wpf.Ui/Interop/UnsafeNativeMethods.cs
  src/Wpf.Ui/Resources/Theme/Dark.xaml
  src/Wpf.Ui/Resources/Theme/HC1.xaml
  src/Wpf.Ui/Resources/Theme/HC2.xaml
  src/Wpf.Ui/Resources/Theme/HCBlack.xaml
  src/Wpf.Ui/Resources/Theme/HCWhite.xaml
  src/Wpf.Ui/Resources/Theme/Light.xaml
  src/Wpf.Ui/Wpf.Ui.csproj
  tests/Wpf.Ui.UnitTests/Usings.cs
Labels: PR
