Repository lepoco/wpfui, pull requests merged in 2024-03, with the labels that each got.

#975 Don't focus on inline buttons or icons in text input controls when pressing Tab
  src/Wpf.Ui/Controls/NumberBox/NumberBox.xaml
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.xaml
  src/Wpf.Ui/Controls/TextBox/TextBox.xaml
Labels: bug, controls, styles

#964 Update NavigationView.Properties.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Properties.cs
Labels: bug, navigation

#943 make `NavigationService` throw-helpers `protected` (instead of `private`)
  src/Wpf.Ui/NavigationService.cs
Labels: navigation

#1008 Sync development and bump version
  .github/labeler.yml
  .github/workflows/codeql-analysis.yml
  Directory.Build.props
  src/Wpf.Ui.Gallery/ViewModels/Windows/MainWindowViewModel.cs
  src/Wpf.Ui.Gallery/Views/Pages/Collections/ListViewPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Text/TextBoxPage.xaml
  src/Wpf.Ui.Tray/Wpf.Ui.Tray.csproj
  src/Wpf.Ui/Controls/AutoSuggestBox/AutoSuggestBox.xaml
  src/Wpf.Ui/Controls/ComboBox/ComboBox.xaml
  src/Wpf.Ui/Controls/ListView/ListView.cs
  src/Wpf.Ui/Controls/ListView/ListView.xaml
  src/Wpf.Ui/Controls/ListView/ListViewItem.xaml
  src/Wpf.Ui/Controls/ListView/ListViewViewState.cs
  src/Wpf.Ui/Controls/NumberBox/NumberBox.xaml
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.xaml
  src/Wpf.Ui/Controls/TextBox/TextBox.xaml
  src/Wpf.Ui/Controls/TitleBar/TitleBar.xaml
  src/Wpf.Ui/Controls/TitleBar/TitleBarButton.cs
  src/Wpf.Ui/Resources/DefaultTextBoxScrollViewerStyle.xaml
  src/Wpf.Ui/Resources/Theme/Dark.xaml
  src/Wpf.Ui/Resources/Theme/Light.xaml
  src/Wpf.Ui/Resources/Wpf.Ui.xaml
  src/Wpf.Ui/VisualStudioToolsManifest.xml
  src/Wpf.Ui/Wpf.Ui.csproj
Labels: update

#1012 Fix NavigationView pane not closed by default when using IsPaneOpen="False"
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Base.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Properties.cs
Labels: controls, PR, navigation, dotnet

#1013 Fix/submenu navigation
  src/Wpf.Ui.Gallery/ViewModels/Windows/MainWindowViewModel.cs
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/NavigationViewPage.xaml
  src/Wpf.Ui.Gallery/Views/Windows/SandboxWindow.xaml.cs
  src/Wpf.Ui/Controls/NavigationView/INavigationView.cs
  src/Wpf.Ui/Controls/NavigationView/INavigationViewItem.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Base.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Properties.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationViewItem.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationViewTop.xaml
Labels: controls, styles, PR, navigation, gallery, dotnet

#982 Feature/gridview-min-max-widths
  src/Wpf.Ui.Gallery/Views/Pages/Collections/ListViewPage.xaml
  src/Wpf.Ui/Controls/AutoSuggestBox/AutoSuggestBox.xaml
  src/Wpf.Ui/Controls/GridView/GridView.cs
  src/Wpf.Ui/Controls/GridView/GridViewColumn.cs
  src/Wpf.Ui/Controls/GridView/GridViewColumnHeader.xaml
  src/Wpf.Ui/Controls/GridView/GridViewHeaderRowIndicator.xaml
  src/Wpf.Ui/Controls/GridView/GridViewHeaderRowPresenter.cs
  src/Wpf.Ui/Controls/GridView/GridViewRowPresenter.cs
  src/Wpf.Ui/Controls/ListView/ListView.cs
  src/Wpf.Ui/Controls/ListView/ListView.xaml
  src/Wpf.Ui/Controls/ListView/ListViewItem.cs
  src/Wpf.Ui/Controls/ListView/ListViewItem.xaml
  src/Wpf.Ui/Resources/Wpf.Ui.xaml
Labels: controls, styles, PR, gallery, dotnet

#1015 Fix regression in PR #1012
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Base.cs
Labels: controls, PR, navigation, dotnet

#1017 TitleBarButton: Fix Foreground not using property value at initial
  src/Wpf.Ui/Controls/TitleBar/TitleBarButton.cs
Labels: controls, PR, dotnet
