Repository lepoco/wpfui, pull requests merged in 2024-12, with the labels that each got.

#1286 Create top-issues-dashboard.yml
  .github/workflows/.github/workflows/top-issues-dashboard.yml
Labels: github_actions, PR, release

#1287 Add support for .NET 9
  .devcontainer/devcontainer.json
  .github/workflows/top-issues-dashboard.yml
  .github/workflows/wpf-ui-cd-docs.yaml
  .github/workflows/wpf-ui-cd-extension.yaml
  .github/workflows/wpf-ui-cd-nuget.yaml
  .github/workflows/wpf-ui-pr-validator.yaml
  Directory.Build.props
  src/Wpf.Ui.Abstractions/Wpf.Ui.Abstractions.csproj
  src/Wpf.Ui.DependencyInjection/Wpf.Ui.DependencyInjection.csproj
  src/Wpf.Ui.FontMapper/Wpf.Ui.FontMapper.csproj
  src/Wpf.Ui.Gallery/Wpf.Ui.Gallery.csproj
  src/Wpf.Ui.SyntaxHighlight/Wpf.Ui.SyntaxHighlight.csproj
  src/Wpf.Ui.ToastNotifications/Wpf.Ui.ToastNotifications.csproj
  src/Wpf.Ui.Tray/Wpf.Ui.Tray.csproj
  src/Wpf.Ui/Wpf.Ui.csproj
  tests/Wpf.Ui.Gallery.UnitTests/Wpf.Ui.Gallery.UnitTests.csproj
  tests/Wpf.Ui.UnitTests/Wpf.Ui.UnitTests.csproj
Labels: github_actions, PR, gallery, release, tray

#1298 Disable NavigationViewContentPresenter refreshing from keyboard
  src/Wpf.Ui/Controls/NavigationView/NavigationViewContentPresenter.cs
Labels: controls, PR, navigation, dotnet, release
