Repository lepoco/wpfui, pull requests merged in 2024-08, with the labels that each got.

#1186 Set Expander content height to * instead of Auto
  src/Wpf.Ui/Controls/Expander/Expander.xaml
Labels: controls, styles, PR, release

#1177 Fix: failing to correctly trigger the methods of the INavigationAware interface.
  src/Wpf.Ui/Controls/NavigationView/NavigationViewContentPresenter.cs
Labels: controls, PR, navigation, dotnet, release

#1196 Add support for ARM64, update extensions and docs, allow non-Windows builds
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/workflows/wpf-ui-cd-extension.yaml
  .github/workflows/wpf-ui-cd-nuget.yaml
  .github/workflows/wpf-ui-lock.yml
  .gitignore
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  README.md
  docs/docfx.json
  docs/index.md
  docs/templates/package-lock.json
  docs/toc.yml
  src/Wpf.Ui.Abstractions/Wpf.Ui.Abstractions.csproj
  src/Wpf.Ui.DependencyInjection/Wpf.Ui.DependencyInjection.csproj
  src/Wpf.Ui.Extension.Template.Blank/Wpf.Ui.Blank.csproj
  src/Wpf.Ui.Extension.Template.Blank/Wpf.Ui.Extension.Template.Blank.csproj
  src/Wpf.Ui.Extension.Template.Compact/Wpf.Ui.Compact.csproj
  src/Wpf.Ui.Extension.Template.Compact/Wpf.Ui.Extension.Template.Compact.csproj
  src/Wpf.Ui.Extension.Template.Fluent/Wpf.Ui.Extension.Template.Fluent.csproj
  src/Wpf.Ui.Extension.Template.Fluent/Wpf.Ui.Fluent.csproj
  src/Wpf.Ui.Extension/Wpf.Ui.Extension.csproj
  src/Wpf.Ui.Extension/license.txt
  src/Wpf.Ui.Extension/source.extension.vsixmanifest
  src/Wpf.Ui.Gallery/Views/Pages/BasicInput/AnchorPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/BasicInput/HyperlinkButtonPage.xaml
  src/Wpf.Ui.Gallery/Wpf.Ui.Gallery.csproj
  src/Wpf.Ui.SyntaxHighlight/Wpf.Ui.SyntaxHighlight.csproj
  src/Wpf.Ui.ToastNotifications/Wpf.Ui.ToastNotifications.csproj
  src/Wpf.Ui.Tray/Wpf.Ui.Tray.csproj
  src/Wpf.Ui/Controls/Anchor/Anchor.cs
  src/Wpf.Ui/Wpf.Ui.csproj
Labels: documentation, controls, github_actions, PR, gallery, dotnet, release, tray

#1200 SystemThemeWatcher Documentation content changes
  docs/documentation/system-theme-watcher.md
Labels: documentation, PR, release
