Repository lepoco/wpfui, pull requests merged in 2024-06, with the labels that each got.

#1102 [TYPO] link to 404
  docs/documentation/nuget.md
Labels: documentation, PR, release

#1094 fix non-legacy backdrop when switching themes
  src/Wpf.Ui/Appearance/WindowBackgroundManager.cs
Labels: themes, PR, dotnet

#1091 Fix: possible NullReferenceException in PasswordBox
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.cs
Labels: controls, PR, dotnet

#1109 fix: TextBox, NumberBox, PasswordBox Placeholder Not Working Properly.
  src/Wpf.Ui/Controls/NumberBox/NumberBox.xaml
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.cs
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.xaml
  src/Wpf.Ui/Controls/TextBox/TextBox.cs
  src/Wpf.Ui/Controls/TextBox/TextBox.xaml
Labels: controls, styles, PR, dotnet

#1115 fix: PlaceholderText may not display promptly under certain circumstances
  src/Wpf.Ui/Controls/TextBox/TextBox.cs
Labels: controls, PR, dotnet

#1114 Update themes.md
  docs/documentation/themes.md
Labels: documentation, PR, release

#1122 Fix titlebar color when using backdrop in WPF `Window`
  src/Wpf.Ui/Appearance/WindowBackgroundManager.cs
  src/Wpf.Ui/Controls/FluentWindow/FluentWindow.cs
  src/Wpf.Ui/Controls/VirtualizingWrapPanel/VirtualizingWrapPanel.cs
  src/Wpf.Ui/Controls/Window/WindowBackdrop.cs
  src/Wpf.Ui/Interop/Dwmapi.cs
  src/Wpf.Ui/Interop/UnsafeNativeMethods.cs
  src/Wpf.Ui/Markup/Design.cs
  src/Wpf.Ui/UiApplication.cs
Labels: documentation, themes, controls, styles, PR, navigation, gallery, dotnet, release, tray

#1116 Fix: Possible multiple invocations of the INavigationAware interface methods
  src/Wpf.Ui/Controls/NavigationView/NavigationViewContentPresenter.cs
Labels: controls, PR, navigation, dotnet

#1098 Update `INotifyCollectionChanged` events in `MenuItems` and `FooterMenuItems` of the `NavigationView`
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Properties.cs
Labels: controls, styles, PR, navigation, dotnet, release

#1124 Update themes.md
  docs/documentation/themes.md
Labels: documentation, PR
