Repository lepoco/wpfui, pull requests merged in 2024-07, with the labels that each got.

#1159 Fix not being able to use Icon markup extensions as the Value of a Setter
  src/Wpf.Ui/Markup/FontIconExtension.cs
  src/Wpf.Ui/Markup/SymbolIconExtension.cs
Labels: PR, dotnet

#1154 Fix DynamicScrollViewer not responding to touch events
  src/Wpf.Ui/Controls/DynamicScrollViewer/DynamicScrollViewer.xaml
Labels: controls, styles, PR

#1138 Fix: SnackbarPresenter might throw ObjectDisposedException, display problems.
  src/Wpf.Ui/Controls/Snackbar/SnackbarPresenter.cs
Labels: controls, PR, dotnet

#1164 Fix MessageBox Button Icons
  src/Wpf.Ui.Gallery/Views/Pages/DialogsAndFlyouts/ContentDialogPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/DialogsAndFlyouts/ContentDialogPage.xaml.cs
  src/Wpf.Ui/Controls/MessageBox/MessageBox.cs
  src/Wpf.Ui/Controls/MessageBox/MessageBox.xaml
Labels: controls, styles, PR, gallery, dotnet

#1135 Fix typos in RadioButton.xaml
  src/Wpf.Ui/Controls/RadioButton/RadioButton.xaml
Labels: controls, styles, PR, release

#1153 Workaround for touch input triggering alongside the hwnd hook on titlebar
  src/Wpf.Ui/Controls/TitleBar/TitleBar.xaml
Labels: controls, styles, PR, titlebar

#1132 Fix: setting NotifyIcon.TooltipText at runtime doesn't work
  src/Wpf.Ui.Tray/Controls/NotifyIcon.cs
  src/Wpf.Ui.Tray/INotifyIcon.cs
  src/Wpf.Ui.Tray/Internal/InternalNotifyIconManager.cs
  src/Wpf.Ui.Tray/TrayManager.cs
Labels: PR, dotnet, tray

#1119 Doc: supplement the document content.
  docs/documentation/navigation-view.md
Labels: documentation, PR

#1149 Replace Assembly.Location to AppContext.BaseDirectory
  src/Wpf.Ui.Extension.Template.Blank/App.xaml.cs
  src/Wpf.Ui.Extension.Template.Compact/App.xaml.cs
  src/Wpf.Ui.Extension.Template.Fluent/App.xaml.cs
Labels: PR, dotnet

#1141 Fix: PasswordBox does not accept PasswordChar as input
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.cs
  src/Wpf.Ui/Controls/PasswordBox/PasswordHelper.cs
Labels: controls, PR, dotnet

#1171 Sync development
  Directory.Packages.props
  docs/docfx.json
  src/Wpf.Ui.Gallery/Wpf.Ui.Gallery.csproj
Labels: documentation, PR, gallery, release

#1172 Use flow from main to release, instead of development
  README.md
Labels: PR, release
