Repository lepoco/wpfui, pull requests merged in 2024-05, with the labels that each got.

#1067 Fixed the markup extension for the SymbolIcon and FontIcon class not working at all.
  src/Wpf.Ui/Controls/Arc/Arc.cs
  src/Wpf.Ui/Markup/FontIconExtension.cs
  src/Wpf.Ui/Markup/SymbolIconExtension.cs
Labels: controls, PR, dotnet

#1080 Update themes.md documentation for 3.x namespace and type name changes
  docs/documentation/themes.md
Labels: documentation, PR, release

#1082 Update UiApplication.cs
  src/Wpf.Ui/UiApplication.cs
Labels: PR, dotnet
