Repository lepoco/wpfui, pull requests merged in 2025-05, with the labels that each got.

#1415 Fix HeaderContent not respecting bindings.
  src/Wpf.Ui/Controls/NavigationView/NavigationView.AttachedProperties.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Base.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Navigation.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationViewBreadcrumbItem.cs
Labels: controls, PR, navigation, dotnet, release

#1413 Fix FontSize reference
  src/Wpf.Ui/Controls/IconElement/FontIcon.cs
Labels: controls, PR, icons, dotnet, release, :star: top pull request

#1431 🐛 pin footer menu items to prevent scrolling
  src/Wpf.Ui/Controls/NavigationView/NavigationViewCompact.xaml
  src/Wpf.Ui/Resources/Theme/Dark.xaml
  src/Wpf.Ui/Resources/Theme/Light.xaml
Labels: controls, styles, PR, navigation, release

#1412 Fix CanContentScrollProperty.OverrideMetadata
  src/Wpf.Ui/Controls/NavigationView/NavigationViewContentPresenter.cs
Labels: controls, PR, navigation, dotnet, release, :star: top pull request

#1406 fix issue #1405, AutoSuggestBox tab problems
  src/Wpf.Ui/Controls/AutoSuggestBox/AutoSuggestBox.xaml
Labels: controls, styles, PR, release

#1381 Add IsCloseButtonEnabled to MessageBox and make button border padding configurable
  src/Wpf.Ui/Controls/MessageBox/MessageBox.cs
  src/Wpf.Ui/Controls/MessageBox/MessageBox.xaml
Labels: controls, styles, PR, dotnet, release

#1380 Design properties multi IDE support
  src/Wpf.Ui/Markup/Design.cs
Labels: PR, dotnet, release, :star: top pull request

#1373 TitleBar Buttons not working in some cases
  src/Wpf.Ui/Controls/TitleBar/TitleBarButton.cs
  src/Wpf.Ui/Interop/User32.cs
Labels: controls, PR, dotnet, release, titlebar
