Repository lepoco/wpfui, pull requests merged in 2025-02, with the labels that each got.

#1324 Fix bug #1323 - add Margin to `BulletDecorator` to apply the `CheckBox.Padding` property
  src/Wpf.Ui/Controls/CheckBox/CheckBox.xaml
Labels: controls, styles, PR, release

#1312 AutoSuggestBox when using in a list will override the value of binded…
  src/Wpf.Ui/Controls/AutoSuggestBox/AutoSuggestBox.xaml
Labels: controls, styles, PR, release

#1328 fix: Clean-up NumberBox: focus repeat event-args debug-output cursor
  src/Wpf.Ui/Controls/Button/Button.xaml
  src/Wpf.Ui/Controls/NumberBox/NumberBox.cs
  src/Wpf.Ui/Controls/NumberBox/NumberBox.xaml
  src/Wpf.Ui/Controls/NumberBox/NumberBoxValueChangedEventArgs.cs
Labels: controls, styles, PR, dotnet, release

#1307 Invoke INavigationAware callbacks on UI thread
  samples/Wpf.Ui.Demo.Mvvm/ViewModels/ViewModel.cs
  src/Wpf.Ui.Gallery/ViewModels/ViewModel.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationViewContentPresenter.cs
Labels: controls, PR, navigation, gallery, dotnet, release, :star: top pull request

#1305 docs: section links
  README.md
  docs/toc.yml
Labels: documentation, PR, release

#1299 Improve string comparison performance
  src/Wpf.Ui/Appearance/ApplicationAccentColorManager.cs
  src/Wpf.Ui/Appearance/ApplicationThemeManager.cs
  src/Wpf.Ui/Appearance/ResourceDictionaryManager.cs
  src/Wpf.Ui/Appearance/SystemThemeManager.cs
  src/Wpf.Ui/Controls/AutoSuggestBox/AutoSuggestBox.cs
  src/Wpf.Ui/Controls/BreadcrumbBar/BreadcrumbBarItem.cs
  src/Wpf.Ui/Controls/EventIdentifier.cs
  src/Wpf.Ui/Controls/GridView/GridViewRowPresenter.cs
  src/Wpf.Ui/Controls/IconElement/IconElementConverter.cs
  src/Wpf.Ui/Controls/IconElement/IconSourceElement.cs
  src/Wpf.Ui/Controls/IconElement/SymbolIcon.cs
  src/Wpf.Ui/Controls/TextBlock/TextBlock.cs
  src/Wpf.Ui/Controls/TextBox/TextBox.cs
  src/Wpf.Ui/Controls/TitleBar/TitleBar.cs
  src/Wpf.Ui/Controls/TitleBar/TitleBarButton.cs
  src/Wpf.Ui/Extensions/StringExtensions.cs
  src/Wpf.Ui/GlobalUsings.cs
  src/Wpf.Ui/UiApplication.cs
Labels: themes, controls, PR, icons, dotnet, release, titlebar

#1297 Fix: ToggleButton interaction problem in SplitButton
  src/Wpf.Ui/Controls/SplitButton/SplitButton.xaml
Labels: controls, styles, PR, release

#1296 Fix button template/triggers
  src/Wpf.Ui/Controls/Button/Button.xaml
Labels: controls, styles, PR, release

#1262 Fix typo in Gallery's radio button page
  src/Wpf.Ui.Gallery/Views/Pages/BasicInput/RadioButtonPage.xaml
Labels: PR, gallery, release

#1243 Fix memory leak in ListView
  src/Wpf.Ui/Controls/ListView/ListView.cs
Labels: controls, PR, dotnet, release

#1244 Defining a FontSize in a FontIcon should not be overridden by its VisualParent's
  src/Wpf.Ui/Controls/IconElement/FontIcon.cs
Labels: controls, PR, icons, dotnet, release, :star: top pull request

#1237 Add hover brush to ListBoxItem
  src/Wpf.Ui/Controls/ListBox/ListBoxItem.xaml
Labels: controls, styles, PR, release, :star: top pull request

#1236 Theming fixes
  src/Wpf.Ui/Controls/InfoBar/InfoBar.xaml
  src/Wpf.Ui/Resources/Theme/Dark.xaml
  src/Wpf.Ui/Resources/Theme/Light.xaml
Labels: controls, styles, PR, release

#1192 Enhance DataGrid UI and Fix Style Issues
  src/Wpf.Ui.Gallery/Models/Product.cs
  src/Wpf.Ui.Gallery/Models/Unit.cs
  src/Wpf.Ui.Gallery/ViewModels/Pages/Collections/DataGridViewModel.cs
  src/Wpf.Ui/Controls/DataGrid/DataGrid.cs
  src/Wpf.Ui/Controls/DataGrid/DataGrid.xaml
Labels: controls, styles, PR, gallery, dotnet, release, :star: top pull request

#1235 Fix screen reader issues with CardAction/Button/MenuItem/NavigationViewItem
  src/Wpf.Ui/Controls/CardAction/CardAction.cs
  src/Wpf.Ui/Controls/CardAction/CardActionAutomationPeer.cs
  src/Wpf.Ui/Controls/Menu/MenuItem.xaml
  src/Wpf.Ui/Controls/NavigationView/NavigationViewItem.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationViewItemAutomationPeer.cs
Labels: controls, styles, PR, navigation, dotnet, release

#1234 Fix elevationBrushes to match WinUI
  src/Wpf.Ui/Controls/NumberBox/NumberBox.xaml
  src/Wpf.Ui/Controls/PasswordBox/PasswordBox.xaml
  src/Wpf.Ui/Controls/ToggleButton/ToggleButton.xaml
  src/Wpf.Ui/Resources/Theme/Dark.xaml
  src/Wpf.Ui/Resources/Theme/Light.xaml
Labels: controls, styles, PR, release, :star: top pull request

#1233 Fix hover behavior for CardControl
  src/Wpf.Ui/Controls/CardControl/CardControl.xaml
Labels: controls, styles, PR, release, :star: top pull request

#1030 Add support for setting content in place of the title in a TitleBar
  src/Wpf.Ui.Gallery/Views/Windows/SandboxWindow.xaml
  src/Wpf.Ui/Controls/TitleBar/TitleBar.cs
  src/Wpf.Ui/Controls/TitleBar/TitleBar.xaml
Labels: controls, styles, PR, gallery, dotnet, release, titlebar

#1209 TitleBarPaneCompactMarginDefault set to 35 to prevent icon moving.
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Base.cs
Labels: controls, PR, navigation, dotnet, release

#1266 ✨💄🐛 Add Snowflake Effect to the WPF UI Gallery
  src/Wpf.Ui.Gallery/Controls/GalleryNavigationPresenter.xaml
  src/Wpf.Ui.Gallery/Effects/Snowflake.cs
  src/Wpf.Ui.Gallery/Effects/SnowflakeEffect.cs
  src/Wpf.Ui.Gallery/Views/Pages/BasicInput/BasicInputPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/BasicInput/BasicInputPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/BasicInput/ThumbRatePage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Collections/CollectionsPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Collections/CollectionsPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/DateAndTime/DateAndTimePage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/DateAndTime/DateAndTimePage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/DialogsAndFlyouts/DialogsAndFlyoutsPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/DialogsAndFlyouts/DialogsAndFlyoutsPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Layout/LayoutPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Layout/LayoutPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Media/MediaPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Media/MediaPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/NavigationPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/NavigationPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/OpSystem/OpSystemPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/OpSystem/OpSystemPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/StatusAndInfo/StatusAndInfoPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/StatusAndInfo/StatusAndInfoPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Text/TextPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/Text/TextPage.xaml.cs
  src/Wpf.Ui/Resources/Theme/Dark.xaml
  src/Wpf.Ui/Resources/Theme/Light.xaml
Labels: styles, PR, gallery, dotnet, release

#1331 Bump version to 4.0.0
  Directory.Build.props
  LICENSE
  LICENSE.md
  docs/docfx.json
  docs/templates/wpfui/layout/_master.tmpl
  src/Wpf.Ui.Extension/license.txt
  src/Wpf.Ui.Gallery.Package/Package.appxmanifest
  src/Wpf.Ui.Gallery/Effects/Snowflake.cs
  src/Wpf.Ui.Gallery/Effects/SnowflakeEffect.cs
  src/Wpf.Ui.Gallery/Views/Pages/BasicInput/BasicInputPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Collections/CollectionsPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/DateAndTime/DateAndTimePage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/DialogsAndFlyouts/DialogsAndFlyoutsPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Layout/LayoutPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Media/MediaPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Navigation/NavigationPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/OpSystem/OpSystemPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/SettingsPage.xaml
  src/Wpf.Ui.Gallery/Views/Pages/StatusAndInfo/StatusAndInfoPage.xaml.cs
  src/Wpf.Ui.Gallery/Views/Pages/Text/TextPage.xaml.cs
  src/Wpf.Ui/Controls/SymbolFilled.cs
  src/Wpf.Ui/Controls/SymbolRegular.cs
  src/Wpf.Ui/Resources/Fonts/FluentSystemIcons-Filled.ttf
  src/Wpf.Ui/Resources/Fonts/FluentSystemIcons-Regular.ttf
Labels: documentation, controls, PR, icons, gallery, dotnet, release

#1334 fix: remove all build warnings
  .editorconfig
  Directory.Packages.props
  src/Wpf.Ui.Abstractions/Controls/INavigationAware.cs
  src/Wpf.Ui.Abstractions/NavigationException.cs
  src/Wpf.Ui.Abstractions/Wpf.Ui.Abstractions.csproj
  src/Wpf.Ui.DependencyInjection/ServiceCollectionExtensions.cs
  src/Wpf.Ui.DependencyInjection/Wpf.Ui.DependencyInjection.csproj
  src/Wpf.Ui.Extension/Wpf.Ui.Extension.csproj
  src/Wpf.Ui.Gallery/Controllers/MonacoController.cs
  src/Wpf.Ui.Gallery/Controls/GalleryNavigationPresenter.xaml.cs
  src/Wpf.Ui.Gallery/ViewModels/Windows/MonacoWindowViewModel.cs
  src/Wpf.Ui.SyntaxHighlight/Controls/CodeBlock.cs
  src/Wpf.Ui.SyntaxHighlight/Highlighter.cs
  src/Wpf.Ui.SyntaxHighlight/Markup/SyntaxHighlightDictionary.cs
  src/Wpf.Ui.Tray/Hicon.cs
  src/Wpf.Ui.Tray/Internal/InternalNotifyIconManager.cs
  src/Wpf.Ui.Tray/Interop/Shell32.cs
  src/Wpf.Ui.Tray/Interop/User32.cs
  src/Wpf.Ui.Tray/NotifyIconService.cs
  src/Wpf.Ui/Appearance/ObservedWindow.cs
  src/Wpf.Ui/Controls/Arc/Arc.cs
  src/Wpf.Ui/Controls/BreadcrumbBar/BreadcrumbBarItem.cs
  src/Wpf.Ui/Controls/DynamicScrollBar/DynamicScrollBar.cs
  src/Wpf.Ui/Controls/NavigationView/NavigationView.Properties.cs
  src/Wpf.Ui/Controls/NumberBox/NumberBox.cs
  src/Wpf.Ui/Controls/Snackbar/SnackbarPresenter.cs
  src/Wpf.Ui/Controls/SymbolFilled.cs
  src/Wpf.Ui/Controls/SymbolRegular.cs
  src/Wpf.Ui/Controls/TitleBar/TitleBar.cs
  src/Wpf.Ui/Controls/VirtualizingWrapPanel/VirtualizingWrapPanel.cs
  src/Wpf.Ui/Controls/Window/WindowBackdrop.cs
  src/Wpf.Ui/Interop/Dwmapi.cs
  src/Wpf.Ui/Interop/Kernel32.cs
  src/Wpf.Ui/Interop/ShObjIdl.cs
  src/Wpf.Ui/Interop/Shell32.cs
  src/Wpf.Ui/Interop/UnsafeNativeMethods.cs
  src/Wpf.Ui/Interop/User32.cs
  src/Wpf.Ui/Interop/UxTheme.cs
  src/Wpf.Ui/Markup/Design.cs
  src/Wpf.Ui/Markup/FontIconExtension.cs
  src/Wpf.Ui/UiApplication.cs
Labels: themes, controls, PR, navigation, gallery, dotnet, release, tray, titlebar

#1347 Fix Wpf.Ui.Controls.TextBlock default style
  src/Wpf.Ui/Controls/TextBlock/TextBlock.cs
Labels: controls, PR, dotnet, release

#1343 fix: #1341: MenuItem template binding error
  src/Wpf.Ui/Controls/Menu/MenuItem.xaml
Labels: controls, styles, PR, release

#1349 Set ComboBox MinWidth on Border, not on Popup itself
  src/Wpf.Ui/Controls/ComboBox/ComboBox.xaml
Labels: controls, styles, PR, release

#1353 Bump version, add migration instructions for WPF UI v3 and v4 and update package configuration
  Directory.Build.props
  Wpf.Ui.sln
  docs/migration/v2-migration.md
  docs/migration/v3-migration.md
  docs/migration/v4-migration.md
  docs/toc.yml
  samples/Wpf.Ui.Demo.Dialogs/Wpf.Ui.Demo.Dialogs.csproj
  samples/Wpf.Ui.Demo.Mvvm/Wpf.Ui.Demo.Mvvm.csproj
  samples/Wpf.Ui.Demo.Simple/Wpf.Ui.Demo.Simple.csproj
  src/Wpf.Ui.Extension.Template.Blank/Wpf.Ui.Blank.csproj
  src/Wpf.Ui.Extension.Template.Compact/Wpf.Ui.Compact.csproj
  src/Wpf.Ui.Extension.Template.Fluent/Wpf.Ui.Fluent.csproj
  src/Wpf.Ui.Gallery.Package/Wpf.Ui.Gallery.Package.wapproj
  src/Wpf.Ui.Gallery/Controllers/MonacoController.cs
  src/Wpf.Ui.Gallery/Controls/GalleryNavigationPresenter.xaml
  src/Wpf.Ui.Gallery/Wpf.Ui.Gallery.csproj
  src/Wpf.Ui/Controls/Arc/Arc.cs
  src/Wpf.Ui/Controls/VirtualizingWrapPanel/VirtualizingWrapPanel.cs
  src/Wpf.Ui/Interop/UnsafeNativeMethods.cs
  src/Wpf.Ui/Markup/Design.cs
  src/Wpf.Ui/UiApplication.cs
  tests/Wpf.Ui.Gallery.UnitTests/Wpf.Ui.Gallery.UnitTests.csproj
Labels: documentation, controls, PR, gallery, dotnet, release

#1357 fix: progress ring initialization exception #1356
  src/Wpf.Ui/Controls/Arc/Arc.cs
Labels: controls, PR, dotnet, release

#1367 Update Visual Studio extension
  Directory.Build.props
  Directory.Build.targets
  Wpf.Ui.sln
  src/Wpf.Ui.Extension.Template.Blank/Wpf.Ui.Blank.csproj
  src/Wpf.Ui.Extension.Template.Blank/Wpf.Ui.Extension.Template.Blank.csproj
  src/Wpf.Ui.Extension.Template.Compact/Wpf.Ui.Compact.csproj
  src/Wpf.Ui.Extension.Template.Compact/Wpf.Ui.Extension.Template.Compact.csproj
  src/Wpf.Ui.Extension.Template.Fluent/Wpf.Ui.Extension.Template.Fluent.csproj
  src/Wpf.Ui.Extension.Template.Fluent/Wpf.Ui.Fluent.csproj
  src/Wpf.Ui.Extension/Wpf.Ui.Extension.csproj
  src/Wpf.Ui.Extension/source.extension.vsixmanifest
Labels: PR, release

#1368 Update required VS version
  README.md
  Wpf.Ui.sln
  src/Wpf.Ui.Extension.Template.Blank/Wpf.Ui.Extension.Template.Blank.csproj
  src/Wpf.Ui.Extension.Template.Compact/Wpf.Ui.Extension.Template.Compact.csproj
  src/Wpf.Ui.Extension.Template.Fluent/Wpf.Ui.Extension.Template.Fluent.csproj
  src/Wpf.Ui.Extension/Properties/AssemblyInfo.cs
  src/Wpf.Ui.Extension/Wpf.Ui.Extension.csproj
  src/Wpf.Ui.Extension/source.extension.vsixmanifest
Labels: PR, dotnet, release
